@{
	ViewData["Title"] = "ThumbsConfig";
}
<h2>这是ThumbsConfig 的视图页</h2>
<p>@ViewData["Msg"]</p>
<p><img src="@ViewData["ImageUrl"]" /></p>
<p>@ViewData["ImagePath"]</p>
<p>@ViewData["WaterMarkMsg"]</p>
<p><img src="@ViewData["WaterUrl"]" /></p>
